@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="./css/StyleMisLibros.css" asp-append-version="true" />

<h1 class="dark_titulos_cursos">Tendencias</h1>
<section class="courses">
    <div class="course">
        <a class="portadas_fondo" href="."><img src="./portada1.jpg" alt="Curso 1" class="redondeando_fotos_index"></a>
        <h3>Circe</h3>
        <p>by Madeline Miller</p>
        <span class="rating">4.5</span>
    </div>

    <div class="course">
        <a class="portadas_fondo" href=""><img src="./portada2.jpg" alt="Curso 1" class="redondeando_fotos_index"></a>

        <h3 class="dark_titulos_cursos">Star Wars: Millennium Falcon</h3>
        <p>by James Luceno</p>
        <span class="rating">4.0</span>
    </div>
    <div class="course">
        <a class="portadas_fondo" href=""><img src="./portada3.jpg" alt="Curso 1" class="redondeando_fotos_index"></a>
        <h3>Algebra 1/2</h3>
        <p>by John H. Saxon</p>
        <span class="rating">4.7</span>
    </div>
    <div class="course">
        <a class="portadas_fondo" href=""><img src="./portada4.jpg" alt="Curso 1" class="redondeando_fotos_index"></a>
        <h3>Rings</h3>
        <p>by Elliot, James</p>
        <span class="rating">4.2</span>
    </div>
</section>


<h1 class="dark_titulos_cursos">Mas vendidos</h1>
<section class="courses">
    <div class="course">
        <a class="portadas_fondo" href=""><img src="./portada5.jpg" alt="Curso 1" class="redondeando_fotos_index"></a>
        <h3>A Court of Mist and Fury</h3>
        <p>by Sarah J. Maas</p>
        <span class="rating">4.5</span>
    </div>

    <div class="course">
        <a class="portadas_fondo" href=""><img src="./portada6.jpg" alt="Curso 1" class="redondeando_fotos_index"></a>
        <h3 class="">Speak</h3>
        <p>By  Laurie Halse Anderson</p>
        <span class="rating">4.0</span>
    </div>

    <div class="course">
        <a class="portadas_fondo" href=""><img src="./portada7.jpg" alt="Curso 1" class="redondeando_fotos_index"></a>
        <h3>The Cruel Prince</h3>
        <p>by Holly Black</p>
        <span class="rating">4.7</span>
        <br />
    </div>
    <br />
</section>
