body {
    background-color: #f2f2f2;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #ccc;
}

h2 {
    text-align: center;
}

label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    input[type="submit"]:hover {
        background-color: #3e8e41;
    }
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #008CBA;
    border: none;
    color: ;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    text-decoration:none;
    color:whitesmoke;
}

    .button:hover {
        background-color: whitesmoke;
        text-decoration: none;
    }


