body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
    background-color: #008CBA;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.button {
    display: inline-block;
    background-color: #aaa;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
}

    .button:hover {
        background-color: #555;
        text-decoration: none;
    }

.button-container {
    text-align: center;
    text-decoration: none;
}

.credit-card {
    display: flex;
    justify-content: space-between;
}

    .credit-card label {
        width: 100%;
        margin-bottom: 5px;
    }

    .credit-card input[type="text"] {
        width: 45%;
    }

    .credit-card input[type="number"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 5px;
        border: none;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    }

    .credit-card select {
        width: 25%;
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 5px;
        border: none;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    }
